*{
  margin: 0;
  padding: 0;
}

body{

}

.image_up{
  position: absolute;
  top:25%;
  left: 35%;
  width:400px;
  height: 200px;
  border: 2px solid black;
}

#prof_img{
margin-top: 10%;
font-weight: bold;

}

h4{
  text-align: center;

}
